<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ys.monitor">

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" /> <!-- 获取手机录音机使用权限，听写、识别、语义理解需要用到此权限 -->
    <uses-permission android:name="android.permission.RECORD_AUDIO" /> <!-- 调用摄像头的权限 -->
    <uses-permission android:name="android.permission.CAMERA" /> <!-- 文件系统权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CALL_PHONE" /> <!-- 调用系统发送短信 -->
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="android.permission.READ_CONTACTS" /> <!-- 用于读取手机当前的状态 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:name=".base.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_logo_new"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />

        <activity android:name="com.ys.monitor.activity.ReSetLoginPsdActivity" />
        <activity android:name="com.ys.monitor.activity.RegistActivity" />
        <activity android:name="com.ys.monitor.activity.UpdateInfoActivity" />
        <activity android:name="com.ys.monitor.activity.AboutActivity" />
        <activity android:name="com.ys.monitor.activity.SetLoginPsdActivity" />
        <activity android:name="com.ys.monitor.activity.UserInfoActivity" />
        <activity android:name="com.ys.monitor.activity.MsgDetailActivity" />
        <activity android:name="com.ys.monitor.activity.KefuActivity" />
        <activity android:name="com.ys.monitor.activity.SetActivity" />
        <activity android:name="com.ys.monitor.activity.FireListActivity" />
        <activity android:name="com.ys.monitor.activity.FireDetailActivity" />
        <activity android:name="com.ys.monitor.activity.PhotoActivity" />
        <activity android:name="com.ys.monitor.activity.ShowPicDetailActivity" />
        <activity android:name="com.ys.monitor.activity.YjtzActivity" />
        <activity android:name="com.ys.monitor.activity.YjtzDetailActivity" />
        <activity android:name="com.ys.monitor.activity.TaskListActivity" />
        <activity android:name="com.ys.monitor.activity.TaskDetailActivity" />
        <activity android:name="com.ys.monitor.activity.AddFireActivity" />
        <activity android:name="com.ys.monitor.activity.ResoureActivity" />
        <activity android:name="com.ys.monitor.activity.VideoListActivity" />
        <activity android:name="com.ys.monitor.activity.AddXHActivity" />
        <activity android:name="com.ys.monitor.activity.ContactActivity" />
        <activity android:name="com.ys.monitor.activity.RecordListActivity" />
        <activity android:name="com.ys.monitor.activity.LocalFireDetailActivity" />
        <activity android:name="com.ys.monitor.activity.LocalXHDetailActivity" />
        <activity android:name="com.ys.monitor.activity.LocalResoureDetailActivity" />
        <activity android:name="com.ys.monitor.activity.PreviewActivity" />
        <activity
            android:name="com.ys.monitor.activity.BaiduMapSelectAddressActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ys.monitor.activity.VideoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ys.monitor.activity.RtspVideoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ys.monitor.activity.AddHelpActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name="com.ys.monitor.activity.ChatActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />

        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="FuymWlITcg62QTGrNmFsTi7OI7jMIVT2" />
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.ys.monitor.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity android:name="com.ys.monitor.activity.MainActivity" />
        <activity android:name="com.ys.monitor.activity.Main2Activity" />
        <activity android:name="com.ys.monitor.activity.WelcomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.ys.monitor.activity.LoginActivity" />
        <activity android:name="com.ys.monitor.web.CommonWebviewActivity" />


        <activity
            android:name=".chat.activity.FullImageActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".activity.AvActivity"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" />
        <service android:name=".service.UploadFireService"
            android:exported="false"/>
    </application>

</manifest>