<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ys.monitor">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" /> <!-- 获取手机录音机使用权限，听写、识别、语义理解需要用到此权限 -->
    <uses-permission android:name="android.permission.RECORD_AUDIO" /> <!-- 调用摄像头的权限 -->
    <uses-permission android:name="android.permission.CAMERA" /> <!-- 文件系统权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CALL_PHONE" /> <!-- 调用系统发送短信 -->
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="android.permission.READ_CONTACTS" /> <!-- 用于读取手机当前的状态 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:name="com.ys.monitor.base.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_logo_new"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.ys.monitor.activity.ReSetLoginPsdActivity" />
        <activity android:name="com.ys.monitor.activity.RegistActivity" />
        <activity android:name="com.ys.monitor.activity.UpdateInfoActivity" />
        <activity android:name="com.ys.monitor.activity.AboutActivity" />
        <activity android:name="com.ys.monitor.activity.SetLoginPsdActivity" />
        <activity android:name="com.ys.monitor.activity.UserInfoActivity" />
        <activity android:name="com.ys.monitor.activity.MsgDetailActivity" />
        <activity android:name="com.ys.monitor.activity.KefuActivity" />
        <activity android:name="com.ys.monitor.activity.SetActivity" />
        <activity android:name="com.ys.monitor.activity.FireListActivity" />
        <activity android:name="com.ys.monitor.activity.FireDetailActivity" />
        <activity android:name="com.ys.monitor.activity.PhotoActivity" />
        <activity android:name="com.ys.monitor.activity.ShowPicDetailActivity" />
        <activity android:name="com.ys.monitor.activity.YjtzActivity" />
        <activity android:name="com.ys.monitor.activity.YjtzDetailActivity" />
        <activity android:name="com.ys.monitor.activity.TaskListActivity" />
        <activity android:name="com.ys.monitor.activity.TaskDetailActivity" />
        <activity android:name="com.ys.monitor.activity.AddFireActivity" />
        <activity android:name="com.ys.monitor.activity.ResoureActivity" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.ys.monitor.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity android:name="com.ys.monitor.activity.MainActivity" />
        <activity android:name="com.ys.monitor.activity.WelcomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.ys.monitor.activity.LoginActivity" />
        <activity
            android:name="com.ys.monitor.fast3.activity.Fast3Activity"
            android:windowSoftInputMode="stateVisible|adjustResize" />
        <activity android:name="com.ys.monitor.winner.activity.WinnerActivity" />
        <activity android:name="com.ys.monitor.ttz.activity.TtzActivity" />
        <activity android:name="com.ys.monitor.web.CommonWebviewActivity" />
    </application>

</manifest>